/* .fondo{
  background-image: url(https://t4.ftcdn.net/jpg/05/99/01/27/240_F_599012797_nAUTiVIm2VfISUhJlXJd6yX8jhnzxEm6.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} */