.fondo{
  background-image: url(https://wallpapercosmos.com/w/full/5/4/6/1143078-1920x1080-desktop-full-hd-robot-background-photo.jpg);
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

} 
